body, html {
	height: 100%;
}
  
.bg { 
	/* The image used */
	background-image: url("background.jpg");
  
	/* Full height */
	height: 100%; 
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin-top: 70px;
	text-align: center;
}

form {
	background-color: green;
	width: 50vw;
	margin: auto;
}

#login {
	width: 30vw;
}